<!DOCTYPE html>
<head>
    <title>EasyToDo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EasyToDo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="home.html">MyToDos</a></li>
                <li><a href="create.html">AddToDo</a></li>
                <li><a href="edit.html">Edit</a></li>
                <li class="active"><a href="#">Impressum</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Impressum</h2>

    <p>Tiramisu wafer jelly. Fruitcake marzipan chocolate cake tart tiramisu jujubes gummies. Apple pie oat cake bonbon
        pudding sesame snaps icing sweet. Candy canes marshmallow fruitcake pastry. Halvah cake chupa chups fruitcake
        soufflé marzipan muffin jelly chocolate. Chocolate powder macaroon cheesecake pastry. Brownie sweet gingerbread
        muffin sweet lemon drops pastry pudding icing. Oat cake candy gummies pudding pie. Dragée tiramisu soufflé
        chocolate cake biscuit cupcake candy canes. Jelly-o donut jelly-o halvah candy canes dessert marzipan caramels
        wafer. Halvah wafer croissant gummi bears pastry cookie cupcake dessert. Gingerbread halvah bear claw halvah
        jelly beans pudding lollipop powder ice cream.</p>

    <p>Candy bonbon croissant dragée pastry dessert. Fruitcake marzipan cake. Cookie gummi bears gummies dessert
        dessert. Chocolate cake marzipan macaroon gummi bears caramels tiramisu bear claw. Biscuit cake oat cake wafer
        tart croissant apple pie gummies pudding. Oat cake cheesecake halvah tart muffin cotton candy biscuit gummies
        cotton candy. Sweet roll croissant donut fruitcake. Donut dragée gummi bears cookie biscuit soufflé sesame
        snaps. Chocolate cake bear claw dessert muffin. Caramels croissant fruitcake. Gingerbread bonbon lemon drops
        jelly beans lemon drops. Sweet gummies marshmallow fruitcake gummi bears soufflé fruitcake candy canes chocolate
        bar.</p>

    <p>Chocolate halvah dessert sesame snaps topping macaroon wafer pudding. Donut halvah tart gummies fruitcake chupa
        chups cotton candy. Sweet roll macaroon halvah cookie. Apple pie danish tootsie roll wafer. Brownie oat cake
        tootsie roll chocolate bar cake lemon drops. Jelly beans jujubes cake cheesecake sweet. Chocolate cake caramels
        cupcake. Sugar plum chocolate bar sugar plum danish pastry. Jelly jelly beans topping. Bear claw macaroon
        cupcake macaroon gingerbread pastry cupcake. Jelly beans tootsie roll gummies chocolate lollipop marzipan
        cookie. Chocolate bar cotton candy muffin.</p>

    <p>Marzipan chocolate cake marshmallow donut apple pie lollipop. Dessert powder cake. Pudding pastry powder tiramisu
        chupa chups. Apple pie cotton candy marzipan carrot cake croissant candy canes fruitcake oat cake. Lemon drops
        carrot cake sweet toffee sesame snaps. Cupcake sugar plum jelly-o lemon drops powder croissant toffee
        cheesecake. Jujubes chocolate bar cookie cookie bear claw cookie apple pie. Candy bonbon lemon drops carrot cake
        halvah pudding muffin danish. Pie wafer croissant. Chocolate croissant pie. Apple pie candy gummi bears
        cheesecake. Caramels candy canes tootsie roll pastry brownie.</p>

    <p>Bear claw donut cookie fruitcake bonbon apple pie chocolate sweet roll cupcake. Candy bonbon powder cookie.
        Danish sesame snaps oat cake caramels tiramisu sugar plum apple pie. Dessert caramels bear claw. Sesame snaps
        jelly sweet roll cookie bonbon. Pie topping croissant chupa chups. Danish lollipop bear claw chocolate biscuit
        carrot cake. Danish cake cotton candy wafer chupa chups topping. Jelly beans lollipop cheesecake marshmallow
        sugar plum croissant fruitcake. Tiramisu bear claw tart toffee muffin jelly beans. Biscuit gummies ice cream.
        Sweet apple pie marzipan jujubes dessert donut sweet. Pie toffee pie pudding apple pie. Dessert powder biscuit
        brownie marzipan marshmallow wafer.</p>
</div>

</body>
</html>