<!DOCTYPE html>
<head>
    <title>EasyToDo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EasyToDo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">MyToDos</a></li>
                <li><a href="create.html">AddToDo</a></li>
                <li><a href="edit.html">Edit</a></li>
                <li><a href="impressum.html">Impressum</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
        <h3>Here are all your todos</h3>
        </br>
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>ToDo</th>
                    <th>Deadline</th>
                    <th>Done in Percent</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.deadline }}</td>
                        <td>{{ todo.done }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
</div>
</div>

</body>
</html>