{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% for todo in todos %}
            <div class="col-xs-12 col-sm-3 col-lg-5">{{ todo.title }}</div>
            <div class="col-xs-6 col-sm-2">{{ todo.deadline }}</div>
            <div class="col-xs-6 col-sm-3">{{ todo.done }}</div>

            <div class="col-xs-6 col-sm-2 col-lg-1">
                <a class="btn btn-primary btn-block" href="">Edit</a>
            </div>
            <div class="col-xs-6 col-sm-2 col-lg-1">
                <a class="btn btn-danger btn-block" href="">Delete</a>
            </div>
            {% if not forloop.last %}
            <div class="col-xs-12">
                <hr/>
            </div>
            {% endif %}
        {% empty %}
            <div class="col-xs-12">
                There are no Todos.<br/>
                <a href="/new">Create one</a>.
            </div>
        {% endfor %}
    </div>
{% endblock %}
